<div style="margin-left: 20px;">
  <div>
    <search [filter] = "filter" (startSearchByNameTag) = "onSearchByNameTag.emit($event)"></search>
  </div>
  <hr>
  <div>
    <pricefilter [filter] = "filter"></pricefilter>
  </div>
  <hr>
  <div>
    <categoryfilter [filter] = "filter"></categoryfilter>
  </div>
  <hr>
  <div>
    <platformfilter [filter] = "filter"></platformfilter>
  </div>
  <hr>
  <button type="submit" class="btn btn-primary" style="margin-top: 15px;">Advanced Search</button>
</div>
<button (click)="showfilter()" class="btn btn-primary" style="margin-top: 15px;">Filter</button>
